<!DOCTYPE HTML>

<html>
<head>
	<title><%-title%></title>
    <script type="text/javascript">
        const url = 'ws://localhost:8787'
        const connection = new WebSocket(url);

        connection.onopen = ()=>{
            connection.send("hello by ws");
        };
    </script>
</head>

<body>    
    Hello

</body>
</html>