.character-sheet-container {	
	height: 100%;

	margin-top: var(--std-margin);
	margin-bottom: var(--std-margin);

	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.character-sheet {
	height: 100%;
	aspect-ratio: 2125/1321;

	padding: var(--std-margin);
	
	display: flex;
	justify-content: stretch;
	
	border-radius: var(--std-radius);

	background-color: lightslategrey;
}

.first-column {
	height: 100%;
	width: 33.5%;

	display: flex;
	flex-direction: column;
}



.name-block {
	height: 7.3%;

	padding: var(--std-margin);
	margin-bottom: var(--std-margin);

	border-radius: var(--std-radius) var(--std-radius) 0px 0px;
	
	display: flex;
	align-items: center;
	justify-content: end;

	background-color: #3F5B56;
}

.name-block > .field {
	width: 75%;
	flex: 0 1 auto;

	border-radius: 0px var(--std-radius) var(--std-radius) 0px;
}



.prof-stats-block {
	/*height: 69.4%;*/
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.stats-column {
	flex: 1 0 0;
	/*height: 100%;*/
	height: fit-content;
	margin-right: var(--std-margin);
}

.life-block {
	padding: var(--std-margin);
	padding-bottom: 0;

	margin-bottom: var(--std-margin);

	border-radius: 0px 0px var(--std-radius) var(--std-radius);
	
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--std-block-color);
}

.life-block > *{
	width: 100%;
	margin-bottom: var(--std-margin);

	flex: 1;

	display: flex;
	flex-direction: column;
}

.life-block > * > * {
	width: 100%;

	flex: 1;

	display: flex;
	flex-direction: row;
	justify-content: end;
}

.life-block > * > * > .field{
	width: 50%;
	flex: 0 0 auto;
}

.life-block > * > *:first-child > .field {
	border-radius: 0 var(--std-radius) 0 0;
}

.life-block > * > *:last-child > .field {
	border-radius: 0 0 var(--std-radius) 0;
}



.buff {
	width: 100%; 

	display: flex;
	flex-direction: row;

	margin-bottom: var(--std-margin);
}

.buff > * {	
	border-radius: var(--std-radius);

	background-color: var(--std-block-color);
}
.buff > *:last-child {
	margin-right: 0;
}

.buff > * > .title {
	height: calc(var(--main-font-size) * 2.5);
}

.params > * {
	width: 100%; 
	overflow: hidden;
	margin-bottom: var(--std-margin);

	display: flex;
	flex-direction: row;
}

.params > * > * {	
	background-color: var(--blue-block-color);
}
.params > * > *:last-child {
	margin-right: 0;
}

.params > *:first-child {	
	border-radius: var(--std-radius) var(--std-radius) 0 0 ;
}
.params > *:last-child {
	border-radius: 0 0 var(--std-radius) var(--std-radius);
}

.prof-column {
	flex: 1 0 0;
	height: 100%;
}

.level-exp-block {
	padding: var(--std-margin);

	margin-bottom: var(--std-margin);

	border-radius: 0 0 var(--std-radius) 0;
	
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--std-block-color);
}

.level-exp-block > * {
	width: 100%;

	flex: 1;

	display: flex;
	flex-direction: row;
	justify-content: end;
}

.level-exp-block > * > .field {
	width: 50%;
	flex: 0 0 auto;
}

.level-exp-block > *:first-child > .field {
	border-radius: 0 var(--std-radius) 0 0;
}

.level-exp-block > *:last-child > .field {
	border-radius: 0 0 var(--std-radius) 0;
}

.languages-block {
	/*height: 20%;*/
	flex: 1;
	width: 100%;
}