main {
	background-color: #1C201F;
}

.character-sheet-container {
	margin: 10px 0px;
	background-color: #1C201D;
	display: flex;
	justify-content: center;
	flex: 1;
	height: 100%;
}

.character-sheet {
	aspect-ratio: 2386/1342;
	height: 100%;
	background-color: #1C201F;
	display: flex;
	justify-content: stretch;
}

.first-column {
	height: 100%;
	width: 33.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.name-block {
	height: 7.3%;
	background-color: #3F5B56;
	padding: var(--std-margin);
	
	display: flex;
	align-items: center;
}

.prof-stats-block {
	height: 69.4%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.stats-column {
	width: 49%;
	height: 100%;
	background-color: white;
}

.prof-column {
	width: 48%;
	height: 100%;
	background-color: red;
}

.languages-block {
	height: 20%;
	width: 100%;
}

span {
	font-family: "JetBrains Mono", monospace;
}

input {
	height: 100%;

	font-family: 'Sofia Sans', sans-serif;

	font-size: 20px;
	outline: 0;
	border: 0;

	vertical-align: center;

	background-color: #00000000;	
}

.main-text {
	font-size: 30px;
	color: #EFEFEF;
	margin-right: 5px;
}

.right-side {
	border-radius: 0px 25px 25px 0px;
}

.top-side {
	border-radius: 25px 25px 0px 0px;
}

.name-block > .side {
	outline: 0;
	border: 0;
	flex: 1;	

	height: 100%;
	background-color: #4F6A65;
}