<div class = "character-sheet-container">
    <div class = "character-sheet">
        <div class = "first-column">
            <div class = "name-block">
                <span class = "title head-text">
                    NAME:
                </span>
                <div class = "field">
                    <input class = "head-text"/>
                </div>
            </div>
            <div class = "prof-stats-block">
                <div class = "stats-column">
                    <div class = "life-block">
                        <div>
                            <div>
                                <span class = "title main-text">
                                    CLASS:
                                </span>           
                                <div class = "field">
                                    <input class = "main-text"/>
                                </div>                     
                            </div>
                            <div>
                                <span class = "title main-text">
                                    RACE:
                                </span>           
                                <div class = "field">
                                    <input class = "main-text"/>
                                </div>                     
                            </div>
                        </div>
                        <div>
                            <div>
                                <span class = "title main-text">
                                    BACKGROUND:
                                </span>           
                                <div class = "field">
                                    <input class = "main-text"/>
                                </div>                     
                            </div>
                            <div>
                                <span class = "title main-text">
                                    ALIGMENT:
                                </span>           
                                <div class = "field">
                                    <input class = "main-text"/>
                                </div>                     
                            </div>
                        </div>
                    </div>
                    <div class = "buff">
                        <div class = "inspiration-block">
                        </div>
                        <div class = "prof-bonus-block">
                        </div>
                    </div>
                </div>
                <div class = "prof-column">
                    <div class = "level-exp-block">
                        <div>
                            <span class = "title main-text">
                                LEVEL:
                            </span>           
                            <div class = "field">
                                <input class = "main-text"/>
                            </div>                     
                        </div>
                        <div>
                            <span class = "main-text">
                                EXP:
                            </span>           
                            <div class = "field">
                                <input class = "main-text"/>
                            </div>                     
                        </div>
                    </div>
                </div>
            </div>
            <div class = "languages-block">
                
            </div>
        </div>
    </div>
</div>
<script type = "text/javascript" src="/characters/create/index.js"></script>
<link rel = "stylesheet" href = "/characters/create/index.css">