<div class = "character-sheet-container">
    <div class = "character-sheet">
        <div class = "first-column">
            <div class = "name-block top-side">
                <span class = "main-text">
                    NAME:
                </span>
                <div class = "side right-side">
                    <input class = "main-text"/>
                </div>
            </div>
            <div class = "prof-stats-block">
                <div class = "stats-column">
                    
                </div>
                <div class = "prof-column">
                    
                </div>
            </div>
            <div class = "languages-block">
                
            </div>
        </div>
    </div>
</div>
<script type = "text/javascript" src="/characters/create/index.js"></script>
<link rel = "stylesheet" href = "/characters/create/index.css">