<!DOCTYPE HTML>

<html>
<head>
	<title><%- title %></title>
    <%- include("../partials/std-usings.ejs") %>        
</head>

<body>
    <main class = "main">
        <div class = "top-bar">

        </div>

        <%- body %>        
    </main>
</body>
</html>