/*html {
    --std-delay: 16px;
}

.flex {
    display: flex;
}


.dir-vert {
    flex-direction: column;    
}

.dir-hor {    
    flex-direction: row;  
}

.center-align {
    align-items: center;
}

.start-align {
    align-items: start;
}

.std-margin-vert {
    margin-bottom: val(--std-delay);
}

.std-margin-hor {
    margin-right: val(--std-delay);
}

.std-fill-flex {
    flex: 1 0 auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sofia+Sans:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

html {
    --std-margin: 15px;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
.top-bar {
    height: 50px;
    background-color: blue;
}


