@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sofia+Sans:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;

	font: inherit;
	color: inherit;
}

html {
    --std-margin: 1.1vh; /*.388*/
    --std-radius: 2.315vh;

	--std-block-color: #151816;
	--blue-block-color: #272F44;

	--mega-font-size: 4vh;
	--head-font-size: 2.777vh;
	--main-font-size: 1.514vh;
}


input {
	width: 100%;

	padding-left: var(--std-margin);
	height: 100%;

	outline: 0;
	border: 0;

	vertical-align: center;	

	background-color: #00000000;	
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    background-color: #101010;
}

.top-bar {
    height: 4.62vh;

    background-color: blue;
}


.title {
    margin-right: var(--std-margin);
	
	display: flex; 
	align-items: center;	

	font-size: var(--main-font-size);
	font-family: "JetBrains Mono", monospace;

	line-height: 1.05;

	color: #EFEFEF;
}

.field {
    height: 100%;
	width: 100%;

	outline: 0;
	border: 0;
	flex: 1;	

	font-family: 'Sofia Sans', sans-serif;
	font-size: var(--main-font-size);
	color: #EFEFEF;
	
	background-color: #FFFFFF15;
}

.head-text {
	font-size: var(--head-font-size);
	color: #EFEFEF;	
}

.main-text {
	font-size: var(--main-font-size);
	color: #EFEFEF;	
}

.sub-text {
	font-size: var(--main-font-size);
	color: #959595;
}

.square-block {
	width: calc((100% - var(--std-margin)) / 2);	
	aspect-ratio: 1/1;

	margin-right: var(--std-margin);
	padding: var(--std-margin);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.square-block > .title {
	height: calc(var(--main-font-size) * 1.6);
	width: 100%;

	margin: 0;

	flex: 0 0 auto;
}

.square-block > .field {
	height: 100%;

	border-radius: 0 0 var(--std-radius) var(--std-radius);
}

.square-block > .field > input {
	text-align: center;
	padding: 0;
	font-size: var(--mega-font-size);
}
